WebService/WebService/WebService/Service References/PublishService/PublishService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.primestone.com/2016/09/serviceBus" elementFormDefault="qualified" targetNamespace="http://www.primestone.com/2016/09/serviceBus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PrimeStonePublisher/PublishService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReadingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Demand" type="xs:double" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtsApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Flags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUtcTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogNo" type="xs:int" />
      <xs:element minOccurs="0" name="Millisecond" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="ReadVal" type="xs:double" />
      <xs:element minOccurs="0" name="ReadingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReadingEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReadingOrigin" nillable="true" type="tns:DataOriginDTO" />
      <xs:element minOccurs="0" name="ReadingType" type="xs:int" />
      <xs:element minOccurs="0" name="Second" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SocketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UctDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uom" type="tns:PSUoM" />
      <xs:element minOccurs="0" name="Usage" type="xs:double" />
      <xs:element minOccurs="0" name="UtcEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="VariableCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableCustomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadingDTO" nillable="true" type="tns:ReadingDTO" />
  <xs:complexType name="DataOriginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Workstation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataOriginDTO" nillable="true" type="tns:DataOriginDTO" />
  <xs:simpleType name="PSUoM">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Not" />
      <xs:enumeration value="A" />
      <xs:enumeration value="A2h" />
      <xs:enumeration value="DEG" />
      <xs:enumeration value="Hz" />
      <xs:enumeration value="KelvinH" />
      <xs:enumeration value="kV2h" />
      <xs:enumeration value="kVA" />
      <xs:enumeration value="kVAh" />
      <xs:enumeration value="kVAr" />
      <xs:enumeration value="kVArh" />
      <xs:enumeration value="kW" />
      <xs:enumeration value="kWh" />
      <xs:enumeration value="Ltr" />
      <xs:enumeration value="Minutes" />
      <xs:enumeration value="MWH" />
      <xs:enumeration value="None" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="Pulse" />
      <xs:enumeration value="TR1TranV1" />
      <xs:enumeration value="V" />
      <xs:enumeration value="V2h" />
      <xs:enumeration value="Vh" />
      <xs:enumeration value="Wh" />
      <xs:enumeration value="sec" />
      <xs:enumeration value="Percent" />
      <xs:enumeration value="Years" />
      <xs:enumeration value="Assigned">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Volts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Varh">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kVar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ah">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VAh">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">34</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Var">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">35</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PSUoM" nillable="true" type="tns:PSUoM" />
  <xs:complexType name="ArrayOfReadingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadingDTO" nillable="true" type="tns:ReadingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadingDTO" nillable="true" type="tns:ArrayOfReadingDTO" />
</xs:schema>