WebService/WebService/WebService/Service References/PublishService/PublishService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.primestone.com/infrastructure" elementFormDefault="qualified" targetNamespace="http://www.primestone.com/infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PrimeStonePublisher/PublishService.svc?xsd=xsd3" namespace="http://www.primestone.com/2016/09/serviceBus" />
  <xs:import schemaLocation="http://localhost/PrimeStonePublisher/PublishService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="OnNewReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.primestone.com/2016/09/serviceBus" minOccurs="0" name="dto" nillable="true" type="q1:ReadingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OnNewReadingResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewReadings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.primestone.com/2016/09/serviceBus" minOccurs="0" name="dto" nillable="true" type="q3:ArrayOfReadingDTO" />
        <xs:element minOccurs="0" name="readingType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewReadingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OnNewReadingsResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewReadingsJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonReading" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="readingType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNewReadingsJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OnNewReadingsJsonResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="readingType" type="xs:int" />
        <xs:element minOccurs="0" name="bindingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="readingType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializePublisher">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializePublisherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>