WebService/WebService/WebService/Service References/ServiceReference1/TOUService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.primestone.com/serviceBus" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.primestone.com/serviceBus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.primestone.com/serviceBus/Imports">
      <xsd:import schemaLocation="http://localhost/TOUService/TOUService.svc?xsd=xsd0" namespace="http://www.primestone.com/serviceBus" />
      <xsd:import schemaLocation="http://localhost/TOUService/TOUService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TOUService/TOUService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusinessSubsProcess_ServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_ServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_ClearStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearStatus" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_ClearStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_ProcessReadingJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessReadingJSON" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_ProcessReadingsJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessReadingsJSON" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IBusinessSubsProcess_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusinessSubsProcess">
    <wsdl:operation name="ServiceStatus">
      <wsdl:input wsaw:Action="http://www.primestone.com/serviceBus/IServiceInstrumentable/ServiceStatus" message="tns:IBusinessSubsProcess_ServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://www.primestone.com/serviceBus/IServiceInstrumentable/ServiceStatusResponse" message="tns:IBusinessSubsProcess_ServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearStatus">
      <wsdl:input wsaw:Action="http://www.primestone.com/serviceBus/IServiceInstrumentable/ClearStatus" message="tns:IBusinessSubsProcess_ClearStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://www.primestone.com/serviceBus/IServiceInstrumentable/ClearStatusResponse" message="tns:IBusinessSubsProcess_ClearStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessReadingJSON">
      <wsdl:input wsaw:Action="http://www.primestone.com/serviceBus/IBusinessSubsProcess/ProcessReadingJSON" message="tns:IBusinessSubsProcess_ProcessReadingJSON_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessReadingsJSON">
      <wsdl:input wsaw:Action="http://www.primestone.com/serviceBus/IBusinessSubsProcess/ProcessReadingsJSON" message="tns:IBusinessSubsProcess_ProcessReadingsJSON_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://www.primestone.com/serviceBus/IBusinessSubsProcess/Ping" message="tns:IBusinessSubsProcess_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://www.primestone.com/serviceBus/IBusinessSubsProcess/PingResponse" message="tns:IBusinessSubsProcess_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>